@if (user) {
  <div class="p-5 mb-2 text-primary-emphasis bg-primary-subtle border-bottom border-primary-subtle">
  <p>User Profile</p>
    <h1 class="mb-4">{{ user.name }}</h1>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb my-5 px-4">
    <li class="breadcrumb-item"><a routerLink="/" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Users - {{ user.id }}</li>
  </ol>
</nav>

<div class="container my-5 px-4">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">{{ user.name }}</h1>
          <p class="card-text">Email: {{ user.email }}</p>
          <p class="card-text">Phone: {{ user.phone }}</p>
          <p class="card-text">Website: {{ user.website }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
}