<nav aria-label="breadcrumb">
  <ol class="breadcrumb my-5 px-4">
    <li class="breadcrumb-item"><a routerLink="/" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Albums</li>
  </ol>
</nav>

<div class="container my-5 px-4">
  <h1 class="mb-4">Albums</h1>
  <div class="row mb-3">
    <div class="col-md-4">
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="searchTerm" (input)="onItemChange()" placeholder="Search posts" />
        <button class="btn btn-secondary" (click)="onItemChange()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
          </svg>
        </button>
      </div>
    </div>
    <div class="col-md-4">
      <select class="form-select" [(ngModel)]="sortField" (change)="onItemChange()">
        <option selected value="">Sort by</option>
        <option value="title">Title</option>
        <option value="userId">User ID</option>
      </select>
    </div>
    <div class="col-md-4">
      <select class="form-select" [(ngModel)]="sortDirection" (change)="onItemChange()">
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
      </select>
    </div>
  </div>
  @if (isLoading) {
  <div class="d-flex align-items-center justify-content-center mt-5">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  } @else {
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>User ID</th>
            <th>Title</th>
          </tr>
        </thead>
        <tbody>
          @for (album of filteredAlbums | slice: (currentPage-1) * pageSize : currentPage * pageSize; track album.id) {
            <tr>
              <td>{{ album.id }}</td>
              <td>{{ album.userId }}</td>
              <td><a [routerLink]="['/albums', album.id]" routerLinkActive="router-link-active" 
                class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">
                {{ album.title }}</a></td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <ngb-pagination
        [(page)]="currentPage"
        [pageSize]="pageSize"
        [maxSize]="8"
        [collectionSize]="albums.length"
        (pageChange)="onPageChange($event)"
      ></ngb-pagination>
    </div>
  </div>
  }
</div>